/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom CSS*/
body {
    font-family: 'Neucha', cursive;
    background-image: url("../images/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #dcdde1;
    font-size: 20px;
    line-height: 1.6;
}
h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}
#container {
    max-width: 900px; 
    width: 100%;
    margin: 60px auto 0;
}
.road {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
table {
    margin: 30px 0;
}
table tbody {
    width: 100%;
}
table > tbody > tr:first-child > th:first-child {
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: 10px;
}
#tableRoad {
    flex-basis: 270px;
    text-align: center;
}
#tableTunnels {
    flex-basis: 480px;
    text-align: center;
}
#tableGas {
    flex-basis: 150px;
    text-align: center;
}
#tableVehicles {
    flex-basis: 900px;
    text-align: center;
}
.lights-gray {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 auto;
}
.lights-yellow {
    background-color: yellow;
}
.attention-text {
    width: 100%;
    font-size: 0.9em;
    text-align: right;
}

/*Responsive*/
@media only screen and (max-width: 1024px) {
    .attention-text {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    #container {
        max-width: 600px;
        width: 100%;
    }
    .road {
        justify-content: center;
    }
    #tableRoad {
        flex-basis: 45%;
        order: 0;
    }
    #tableGas {
        flex-basis: 45%;
        order: 1;
    }
    #tableTunnels {
        flex-basis: 100%;
        order: 2;
    }
    #tableVehicles {
        flex-basis: 100%;
        order: 3;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
    #container {
        margin: 20px auto 0;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    h1 {
        margin-bottom: 20px;
    }
    table {
        margin: 10px 0;
    }
}

/*Background CSS*/
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    body {
        background-size: auto;
        background-position: 48% 40%;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    body {
        background-size: auto;
        background-position: 49% 32%;
    }
}

@media only screen and (max-width: 415px) and (orientation: portrait) {
    body {
        background-size: auto;
        background-position: 49% 40%;
    }
}